/*Main Style */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f5f5f5;
}

.main {
    display: block;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #373737;
}

a:hover {
    color: #1489cc;
}

.kda {
    color: #1489cc;
}

.kda:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    -moz-text-decoration-color: blue;
}

ul {
    border-bottom: 2px solid #ededed;
    padding-bottom: 5%;
}

ul li {
    list-style: none;
    color: #3D3D3D;
}

td {
    color: #3D3D3D;
}

#contact {
    border-bottom: 2px solid #ededed;
    padding-bottom: 5%;
}

p {
    font-size: 16px;
    color: #373737;
}

h3 {
    font-weight: normal;
}


/* Style Entete */

.nom {
    font-style: bold;
    font-size: 40px;
}

.dev {
    color: #a9b2c5;
}

.entete {
    background-color: #e1e9ee;
    border: 1px solid #ededed;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #aaa;
    display: block;
    float: left;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.entete-content {
    display: inline-block;
    width: 50%;
    margin-left: 5%;
    padding-top: 5%;
}

.image {
    display: inline-block;
    margin-left: 5%;
    float: left;
}

.image-profil {
    border: 8px solid #fff;
    width: 200px;
    height: 200px;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
}


/*Profil */

.profil {
    border-top: 15px solid #f5f5f5;
    display: block;
    float: left;
    width: 100%;
}


/* Profil-Left style */

.profil-left {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 3% 2%;
}


/* .profil-left-content {
    border: 5px solid red;
} */

.home-logo {
    width: 20px;
}

.phone-logo {
    width: 20px;
}

.mail-logo {
    width: 25px;
}

.date-logo {
    width: 40px;
}

.local-logo {
    width: 20px;
}

.footer {
    width: 100%;
    word-spacing: 4px;
    padding-left: 30px;
}

.social-network {
    display: inline-block;
}

.social-link:hover {
    text-shadow: 2px 2px 2px blue;
}

.ecrivez-moi {
    text-decoration: underline;
    text-decoration-color: #373737;
    -moz-text-decoration-color: #373737;
}

.ecrivez-moi:hover {
    text-decoration-color: #1489cc;
}


/* Profil-Right Style */

.profil-rigth {
    border: 2px solid #ededed;
    background-color: #ffffff;
    width: 200px;
    padding: 3% 2%;
    display: inline-block;
    width: 40%;
    float: right;
    margin-right: 20%;
}


/* Responsive Design */

@media screen and (max-width: 900px) {
    .image {
        margin-left: 95px;
    }
    .profil-rigth {
        display: inline-block;
        margin: 1%;
        width: 400px;
        float: none;
    }
    .profil-left {
        display: inline-block;
        width: 30%;
        padding: 3% 8%;
    }
}

@media screen and (max-width: 838px) {}

@media screen and (max-width: 768px) {
    .image {
        display: block;
        margin-left: 97px;
    }
    .image-profil {
        border: 8px solid #fff;
        width: 188px;
        height: 188px;
        border-radius: 200px;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        -ms-border-radius: 200px;
        -o-border-radius: 200px;
    }
    .entete-content {
        display: block;
        width: 90%;
        margin-left: 5%;
        padding-top: 5%;
    }
    .profil-rigth {
        display: block;
        margin: 2.5%;
        width: 90%;
        float: none;
    }
    .profil-left {
        display: block;
        width: 80%;
        padding: 3% 8%;
    }
}

@media screen and (max-width: 414px) {
    .image {
        display: block;
        margin-left: 97px;
    }
    .image-profil {
        border: 8px solid #fff;
        width: 188px;
        height: 188px;
        border-radius: 200px;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        -ms-border-radius: 200px;
        -o-border-radius: 200px;
    }
    .entete-content {
        display: block;
        width: 90%;
        margin-left: 5%;
        padding-top: 5%;
    }
    .profil-rigth {
        display: block;
        margin: 2.5%;
        width: 90%;
        float: none;
    }
    .profil-left {
        display: block;
        width: 80%;
        padding: 3% 8%;
    }
}

@media screen and (max-width: 411px) {
    .image {
        display: block;
        margin-left: 95px;
    }
}

@media screen and (max-width: 375px) {
    .image {
        display: block;
        margin-left: 85px;
    }
}

@media screen and (max-width: 360px) {
    .image {
        display: block;
        margin-left: 71px;
    }
}

@media screen and (max-width: 320px) {
    .image {
        display: block;
        margin-left: 60px;
    }
    .nom {
        font-size: 30px;
    }
}